<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
  <nav>
    <ul class='center'>
      <li><a href="{% url 'budget_list' %}">Budget List</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'budget_detail' %}">Budget Detail</a></li>
      {% comment %} <li><a href="{% url 'logout' %}">Logout</a></li> {% endcomment %}
      {% else %}
      <li><a href="{% url 'django_registration_register' %}">Register</a></li>
      {% comment %} <li><a href="{% url 'login' %}">Login</a></li> {% endcomment %}
      {% endif %}
    </ul>
  </nav>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>    
  
</body>
</html>